<!DOCTYPE html>
<html lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/indexForm">
<body>
	<div th:fragment="loginForm">
			<h1>Please Log-in to query the Ledger</h1>
		<form method="post" action="#" th:action="@{/login}"
			th:object="${login}">
			<div class="form-group">
				<label for="exampleTextarea">Name:</label> <input type="text"
					th:field="*{userName}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="exampleTextarea">Password:</label> <input
					type="password" th:field="*{password}" class="form-control" />
			</div>
			<input type="submit" id="login" value="Login" />

		</form>
	</div>
	<div th:fragment="queryForm">
		<h1>
			Hello <span th:text="${user}"></span> use this form to query the
			ledger
		</h1>
		<form method="get" action="#" th:action="@{/query}" th:object="${query}">
			<div class="form-group">
				<label for="exampleTextarea">Query:</label> <select
					th:field="*{query}" class="form-control">
					<option value="queryAllVisits">Query visits (leave empty to select all visits or insert an ID)</option>
					<option value="lastInsertedId">Query last visit</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleTextarea">Arguments:</label> <input type="text"
					th:field="*{args}" class="form-control" /> </br> </br> <input type="submit"
					id="query" value="Query" />
			</div>
		</form>
	</div>
	
	
	<div th:fragment="openQueryForm">
		<p class="lead">
			Hello <span th:text="${user}"></span> use this form to query the
			ledger
		</p>
		<form method="get" action="#" th:action="@{/openQuery/Question}" th:object="${query}">
			<div class="form-group">
				<label for="exampleTextarea">Query:</label> <input type="text"
					th:field="*{query}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="exampleTextarea">Arguments:</label> <input type="text"
					th:field="*{args}" class="form-control" /> </br> </br> <input type="submit"
					id="query" value="Query" />
			</div>
		</form>
	</div>
</body>
</html>